[Unit]
Description=containerd
Documentation=https://github.com/containerd/containerd
After=network.target

[Service]
ExecStart=/usr/local/bin/containerd
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
